[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "==2.0.6"
djangorestframework = "==3.8.2"
json_log_formatter = "==0.2.0"
django-rest-swagger = "==2.2.0"
"psycopg2-binary" = "==2.7.5"


[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
pytest = "3.6.3"
unittest-xml-reporting = "2.2.0"
pytest-django = "3.3.2"
pytest-cov = "2.5.1"

